.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto ;

  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header{
  max-height: 756px;
  min-height: 600px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  color: #000000;
  background-color: #f2f2f2;
}

.logo{
  height: 32px;
  width: 228px;
}

.logo_place_haeder{
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 3;
}

.haeder__title{
  width: 730px;
  margin-left: 64px;
  z-index:4;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.haeder__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 4;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.haeder__link{
  text-decoration: none;
  color: #2f80ed;
}

.haeder__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.haeder__square-pic{
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;

  background-color:  #2f80ed ;
}

.description{
  padding: 0;
  margin: 0;

  color:#000000;
}

.two-columns{
  width: 80%;
  margin: 100px auto 100px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brif{
  width: 175px;

font-size: 18px;
line-height: 1.2;
font-weight: normal;
color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph{
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type{
  padding-bottom: 0;
}

.two-columns__span-accent{
  font-size: 24px;
  line-height: 34px;
  font-weight:600;
}

.digits{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;
  text-align: center;
}

.section-title{
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;

  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle{
  margin: 0;
  width: 60%;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table{
  margin: 0 auto 100px;;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
  list-style-type: none;
}

.table__heading{
  margin: 0;
  font-size: 24px;
  list-style: 1.15;
  font-weight: 600;
  text-align: left;
}

.table__text{
  margin-top: 20px;
  text-align: left;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman{
  height: 890px;
  margin: 0;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
}

.feynman__title{
  width: 648px;
  z-index: 3;

  font-size: 120px;
  line-height: 1.15;
  font-weight:  600;
}

.feynman__subtitle{
  margin: 70px;
  z-index: 2;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;

  color: #2f80ed;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__scr{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.kaufman{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  position: relative;

  background-color:  #1f1f1f;
  color: white;
  z-index: 0;
}

.section-title_theme_dark{
  margin-top: 80px;
  z-index: 3;
}

.section-subtitle_theme_dark{
  z-index: 3;
}

.table-theme-dark{
  padding: 0 auto 80px;
  z-index: 3;
}

.table__cell-theme-dark{
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangie{
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 2;
}

.footer{
  margin: 0;
  padding: 60px 0 40px;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;

  background-color: #1f1f1f;
  color: white;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__column_content_copyright{
  display: flex;
  align-items: flex-end;
  flex-basis: 711px;
}

.logo_place_footer{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author{
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading{
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links{
  margin-top: 20px;
  padding-bottom: 16px;
}

.footer__column-link{
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;

  color: white
}

.footer__social-icon{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  padding-right: 10px;
}
